/* -- functional styling */
.advancedscroller-con {
  position: relative;
  width: 100%; }

.advancedscroller {
  position: relative;
  width: 100%;
  min-height: 50px;
  overflow: hidden; }

/* ==== hide the images until loaded */
.advancedscroller .item-tobe {
  display: none;
  -webkit-backface-visibility: hidden; }

.advancedscroller.loaded .item {
  position: relative; }

/* ----reset ul style */
.advancedscroller ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0; }

.advancedscroller ul > li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0; }

.advancedscroller:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both; }

.advancedscroller ul:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both; }

.advancedscroller .item-tobe {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.advancedscroller .thumbsCon {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 3; }

.advancedscroller .bulletsCon {
  display: block;
  position: relative;
  z-index: 4; }

.advancedscroller .thumbsClip {
  position: relative;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transition-property: left;
  transition-duration: 0.9s;
  transition-timing-function: ease-out;
  -moz-transition-property: left;
  -moz-transition-duration: 0.9s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.9s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: left;
  -o-transition-duration: 0.9s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: left;
  -ms-transition-duration: 0.9s;
  -ms-transition-timing-function: ease-out;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);
  /* easeOutBack */ }

.advancedscroller .thumbsClip > * {
  display: block;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.advancedscroller.no-need-for-nav .bulletsCon {
  display: none; }

.advancedscroller.no-need-for-nav .arrowsCon {
  display: none; }

img.fullwidth {
  width: 100%;
  display: block; }

.advancedscroller.dzsportfolio {
  overflow: visible; }

.advancedscroller.dzsportfolio .items {
  display: none; }

/* -- estethic styling */
.advancedscroller {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size: 11px; }

.advancedscroller .the-thumb-con {
  position: relative; }

.advancedscroller .item .the-thumb {
  width: 100%;
  height: 100%;
  background-size: cover; }

.advancedscroller .item p:empty {
  display: none; }

.advancedscroller .preloader {
  width: 128px;
  height: 40px;
  background: transparent url(img/preloader.gif) center center no-repeat;
  margin-left: -64px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  left: 50%; }

.advancedscroller.swipe-enabled {
  cursor: move;
  cursor: -moz-grab;
  cursor: grab;
  cursor: url(img/openhand.cur) 4 4, move; }

.advancedscroller.swipe-enabled.closedhand {
  cursor: url(img/closedhand.cur) 4 4, move; }

.advancedscroller.swipe-enabled.closedhand .thumbsClip {
  transition-property: left;
  transition-duration: 0s;
  transition-timing-function: linear;
  -moz-transition-property: left;
  -moz-transition-duration: 0s;
  -moz-transition-timing-function: linear;
  -webkit-transition-property: left;
  -webkit-transition-duration: 0s;
  -webkit-transition-timing-function: linear;
  -o-transition-property: left;
  -o-transition-duration: 0s;
  -o-transition-timing-function: linear;
  -ms-transition-property: left;
  -ms-transition-duration: 0s;
  -ms-transition-timing-function: linear; }

.advancedscroller .thumbsClip > * {
  padding: 0px 10px;
  transition-property: border, padding, opacity, visibility;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  -moz-transition-property: border, padding, opacity, visibility;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: border, padding, opacity, visibility;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: border, padding, opacity, visibility;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: border, padding, opacity, visibility;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-out; }

.advancedscroller .thumbsClip > *.last-in-row {
  border-right: 1px solid rgba(0, 0, 0, 0); }

.advancedscroller .thumbsClip > *:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0); }

.advancedscroller.islastpage .thumbsClip > *.last-in-row {
  border-right: 1px solid rgba(0, 0, 0, 0.3); }

.advancedscroller.islastpage .thumbsClip > *:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0); }

.advancedscroller .bulletsCon {
  height: 20px;
  text-align: center;
  margin: 15px auto;
  cursor: pointer; }

.advancedscroller .bulletsCon span.bullet {
 width:12px;
	height:12px;
	display:inline-block;
	background:#c1c1c1;
	border-radius:50%;
  margin-right: 10px;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: background;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: background;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: background;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.advancedscroller .bulletsCon span.bullet:hover {
  background-color:#ac221f }

.advancedscroller .bulletsCon span.bullet.active {
  background-color:#ac221f }

.advancedscroller .name {
  margin-top: 10px;letter-spacing: 1px; }

.advancedscroller .price {
  text-align: center;
  margin-top: 5px;
  font-weight: bold; }

.advancedscroller .price > span {
  display: inline-block; }

.advancedscroller .addtocart-con {
  text-align: center;
  margin-top: 10px; }

.advancedscroller .addtocart-con > .button-addtocart {
  margin-top: 0px; }

.button-addtocart a {
  color: inherit; }

.advancedscroller .arrowsCon > .arrow-left, .advancedscroller .arrowsCon > .arrow-right {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image:url(../images/left-arrow.jpg);
  width: 42px;
  height: 64px;
  position: absolute;
  left: 5px;
  top: 45%;
  margin-top: -15px;
  cursor: pointer;
  z-index: 4;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.advancedscroller .arrowsCon > .arrow-right {
  background-image:url(../images/right-arrow.jpg);
  left: auto;
  right: 5px;
  top: 45%; }
.advancedscroller .arrowsCon > .arrow-left:hover{ background-image:url(../images/left-arrow.jpg); }
 .advancedscroller .arrowsCon > .arrow-right:hover {
  background-image:url(../images/right-arrow.jpg); }

img.fullwidth {
  margin-top: 5px; }

.button-addtocart {
  font-family: Helvetica, Arial, sans-serif;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 15px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  padding: 4px 10px;
  text-decoration: none;
  border-radius: 3px;
  color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #ba2b00;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JhMmIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjFhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ba2b00 0%, #ff1a00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ba2b00), color-stop(100%, #ff1a00));
  background: -webkit-linear-gradient(top, #ba2b00 0%, #ff1a00 100%);
  background: -o-linear-gradient(top, #ba2b00 0%, #ff1a00 100%);
  background: -ms-linear-gradient(top, #ba2b00 0%, #ff1a00 100%);
  background: linear-gradient(to bottom, #ba2b00 0%, #ff1a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba2b00', endColorstr='#ff1a00',GradientType=0 );
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size: 9px; }

.old-price {
  margin-right: 5px;
  color: red;
  text-decoration: line-through; }

.advancedscroller.mode-onlyoneitem .thumbsClip > * {
  padding: 0px; }

.advancedscroller.mode-onlyoneitem .thumbsCon {
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: height;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.advancedscroller.skin-white {
  margin-top: 10px; }

.advancedscroller.skin-white a {
  color: inherit;
  text-decoration: none; }

.advancedscroller.skin-white a:hover {
  opacity: 0.7; }

.advancedscroller.skin-white .thumbsClip > * {
  padding: 10px;
  border-right: 0; }

.advancedscroller.skin-white .thumbsClip > *.last-in-row {
  padding: 10px;
  border-right: 0; }

.advancedscroller.skin-white .arrowsCon > .arrow-left, .advancedscroller.skin-white .arrowsCon > .arrow-right {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("img/arrow-left-white.png");
  width: 30px;
  height: 30px;
  position: absolute;
  left: auto;
  right: 65px;
  top: -15px;
  margin-top: -15px;
  cursor: pointer;
  opacity: 0.69;
  z-index: 4;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: height;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.advancedscroller.skin-white .arrowsCon > .arrow-right {
  background-image: url("img/arrow-right-white.png");
  left: auto;
  right: 45px;
  top: -15px; }

.advancedscroller.skin-white .arrowsCon > .arrow-left:hover, .advancedscroller.skin-white .arrowsCon > .arrow-right:hover {
  opacity: 1; }

.advancedscroller.skin-black {
  margin-top: 10px; }

.advancedscroller.skin-black a {
  color: inherit;
  text-decoration: none; }

.advancedscroller.skin-black a:hover {
  opacity: 0.7; }

.advancedscroller.skin-black .thumbsClip > * {
  padding: 10px;
  border-right: 0; }

.advancedscroller.skin-black .thumbsClip > *.first-in-row {
  padding: 10px;
  padding-left: 0px;
  border-right: 0; }

.advancedscroller.skin-black .thumbsClip > *.last-in-row {
  padding: 10px;
  padding-right: 0px;
  border-right: 0; }

.advancedscroller.skin-black .arrowsCon > .arrow-left, .advancedscroller.skin-black .arrowsCon > .arrow-right {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("img/arrow-left-black-small.png");
  width: 30px;
  height: 30px;
  position: absolute;
  left: auto;
  right: 20px;
  top: -15px;
  margin-top: -15px;
  cursor: pointer;
  opacity: 0.69;
  z-index: 4;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: height;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.advancedscroller.skin-black .arrowsCon > .arrow-right {
  background-image: url("img/arrow-right-black-small.png");
  left: auto;
  right: 0px;
  top: -15px; }

.advancedscroller.skin-black .arrowsCon > .arrow-left:hover, .advancedscroller.skin-black .arrowsCon > .arrow-right:hover {
  opacity: 1; }

.advancedscroller.skin-inset .thumbsClip > * {
  padding: 0px; }

.advancedscroller.skin-inset .arrowsCon > .arrow-left, .advancedscroller.skin-inset .arrowsCon > .arrow-right {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("img/arrow-left-black.png");
  width: 40px;
  height: 40px;
  position: absolute;
  left: 5px;
  top: 45%;
  margin-top: -20px;
  cursor: pointer;
  opacity: 0.69;
  z-index: 4;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: height;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.advancedscroller.skin-inset .arrowsCon > .arrow-right {
  background-image: url("img/arrow-right-black.png");
  left: auto;
  right: 5px;
  top: 45%; }

.advancedscroller.skin-inset .arrowsCon > .arrow-left:hover, .advancedscroller.skin-inset .arrowsCon > .arrow-right:hover {
  opacity: 1; }

.advancedscroller.skin-inset.transition-fade .thumbsClip > * {
  opacity: 0;
  visibility: hidden; }

.advancedscroller.skin-inset.transition-fade .thumbsClip > *.currItem {
  opacity: 1;
  visibility: visible; }

.caption {
  position: absolute; }

.caption.skin-underlay {
  bottom: -70%;
  left: 0;
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 10px;
  background: rgba(230, 230, 230, 0.9);
  color: #111;
  transition-property: bottom;
  transition-duration: 1.2s;
  transition-timing-function: ease-out;
  -moz-transition-property: bottom;
  -moz-transition-duration: 1.2s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 1.2s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: bottom;
  -o-transition-duration: 1.2s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: bottom;
  -ms-transition-duration: 1.2s;
  -ms-transition-timing-function: ease-out; }

.item.currItem .caption.skin-underlay {
  bottom: 0; }
