/*Sliding Text and Icon Menu Style*/
.sti-menu{
	width:1010px;
	position:relative;
	margin:0 auto 0 auto;
}
.sti-menu li{
	float:left;
	width:228px;
	height:386px;
	margin:1px 10px;
}
.sti-menu li a{
	display:block;
	overflow:hidden;
	background:#fff;
	text-align:center;
	height:100%;
	width:100%;
	position:relative;
	-moz-box-shadow:1px 1px 2px #ddd;
	-webkit-box-shadow:1px 1px 2px #ddd;
	box-shadow:1px 1px 2px #ddd;
	border:1px solid #c0c0c0;
	border-top:none;
}
.sti-menu li a:hover{background:#333333;}

.sti-menu li a h2{
	font:24px 'Roboto Slab', 'serif';color:#000;
	text-transform:uppercase;
	position:absolute;
	padding:10px 2%;
	width:100%;
	top:258px;
	left:0px;
	text-shadow: 0px 1px 1px black;
}
.sti-menu li a h3{
	font:18px 'Roboto Slab', 'serif';color:#000;
	font-style:italic;
	color: #111;
	position:absolute;
	top:298px;
	left:0px;
	width:100%;
	padding:10px 4%;
}
.sti-icon{
	width:209px;
	height:209px;
	position:absolute;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:transparent;
	left:10px;
	top:10px;
}
.sti-icon-care{
	background-image:url(../images/care.png);
}
.sti-icon-alternative{
	background-image:url(../images/alternative.png);
}
.sti-icon-family{
	background-image:url(../images/family.png);
}
.sti-icon-info{
	background-image:url(../images/info.png);
}
.sti-icon-technology{
	background-image:url(../images/technology.png);
}