@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

/*Reset CSS
font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
table {border-collapse:collapse;border-spacing:0}
a{color:#000;text-decoration:none;outline:none;transition:all 300ms ease;-moz-transition:all 300ms ease;-webkit-transition:all 300ms ease;}
body {line-height:1;font:12px 'Roboto Slab', 'serif';color:#666666;margin:0;padding:0;}
/*fonts*/


/*global classes*/
.wraper{width:100%;max-width:1200px;margin:0 auto;}
.clear{clear:both}
.clumn{width:198px;float:left}
.fl{float:left !important;}
.fr{float:right !important;}
.AR{text-align:right !important}
.AL{text-align:left !important}
.AC{text-align:center !important}
.error_msg{color:#F00;font-size:10px;}
h1,h2,h3,h4,h5,h6{}
h1{font-size:24px;}
h2{font-size:22px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:12px;}
input[type="button"],input[type="submit"]{border:none;cursor:pointer;outline:none;}
/*Global Classes End*/
/*Table Format Start*/
.tableFormat{border-top:1px solid #000;border-right:1px solid #000;}
.tableFormat td,.tableFormat th{border-left:1px solid #000;border-bottom:1px solid #000;padding:5px 10px;}
.tableFormat th:first-child{border-left-color:#000;}
.tableFormat th{background:#000;color:#fff;border-left-color:#fff;}
.tableFormat td{}
/*Table format end*/
/*form in 2 clumn*/
.banner{width:100%;margin:0 auto;border-top:7px solid #f2c431;overflow:hidden;}
.banner img{width:100%;height:auto;vertical-align:top;margin:0 !important}
.header{background-color:#f2c431;box-shadow:2px 2px 2px #444;}
.main-nav{height:66px;line-height:65px}
.main-nav li{float:left;width:11%;text-align:center;margin:0;}
.main-nav li:hover .submenu{display:block;height:auto;}
.main-nav li + li +li + li{position:relative;}
.main-nav li + li +li + li a{position:relative;z-index:999;}
.main-nav li + li +li + li span{position:absolute;bottom:-22px;left:-26px;width:147px;height:57px;
background:url(../images/header-center.png) no-repeat top center;z-index:-1}
.main-nav li a{color:#000;font-size:16px;text-shadow: 1px 1px 1px #FFFFFF;}
.bodyCnt .leftCnt,.bodyCnt .rightCnt{float:left;width:56%;padding:5% 2%;}
.bodyCnt .rightCnt{text-align:center;width:36%;}
.rightCnt iframe{margin:0 auto;}
.bodyCnt .leftCnt {padding-top:12%;font-size:14px;color:#666;}
.bodyCnt .rightCnt{font-size:14px;}
.bodyCnt p{color: #2D2D2D; font-size: 16px;font-weight: 300;line-height: 27px;}
.detailbutton{padding:10px 70px;background-color:#f2c431;display:inline-block;margin-top:20px;font-size:14px;color:#000;text-shadow:1px 1px 1px #fff}
.yellow-heading{background:url(../images/heading-bg.png) center center no-repeat;text-align:center;height:84px;font:300 21px 'Roboto Slab', 'serif';color:#000;margin: 0 20% 0 0;line-height:84px;width:262px;float:right;text-transform:uppercase;text-shadow:1px 1px 1px #fff}
.our-Work{background-color:#333333;padding:5% 0;}
.row{margin:0 auto;overflow:hidden;width:100%;}
.row .pictureCnt{width:30%;float:left;overflow:hidden;border-radius:10px;overflow:hidden;position:relative;z-index:10;cursor:pointer;}
.row .pictureCnt img{width:100%;}
.row .Info{width:64%;float:leftposition:relative;z-index:99;float:left}
.row .InfoCnt{background:url(../images/workbgtop.jpg) repeat-x top left ,url(../images/workbg.jpg) repeat-x bottom left;background-color:#000;padding:30px 3%;margin-top:30px;width:55%;z-index:9;left:-226px;position:absolute;transition:all 500ms ease;-moz-transition:all 500ms ease;-webkit-transition:all 500ms ease;}
.row .InfoCnt p{font-size:14px;color:#fff;}
.row .InfoCnt h1,.face.back h1{font:24px 'Roboto Slab', 'serif';color:#f2c431;padding-bottom:10px;}
.row.even .pictureCnt{float:right;}
.row.even .Info{float:right;text-align:right}
.row.even .InfoCnt{left:777px}

/*.row:hover .InfoCnt{left:29%;}
.row.even:hover .InfoCnt{left:16%}*/

#as2 li{overflow:hidden;width:248px;height:386px;}
.memberpic{position:relative;}
.memberdetail{position:absolute;bottom:20px;left:0; width:96%;text-align:center;padding:0 2%}
.overlay{position:absolute;top:0;left:0;background:url(../images/team-white-bg.png) no-repeat top left;height:100%;width:100%;cursor:pointer}
.memberdetail h1{font:24px 'Roboto Slab', 'serif';color:#000;padding-bottom:20px-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;}
.memberdetail h4{font:18px 'Roboto Slab', 'serif';color:#000;-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;}


.blackoverlay{position:absolute;top:-100%;left:0;background:url(../images/team-hover.png) no-repeat top left;height:100%;width:100%;cursor:pointer;-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;}
.memberpic:hover .blackoverlay{top:0;}
.memberpic:hover h1,.memberpic:hover h4{color:#fff}
.formCnt input[type="text"],.formCnt textarea{display:block;width:80%;margin:0 auto 20px;padding:10px 5px;border:1px solid #f2c431;background-color:transparent;color:#fff;font:14px 'Roboto Slab', 'serif';}
.formCnt textarea{height:60px;}
/*.formCnt input[type="submit"]{width:153px;height:50px;border:none;display:inline-block;background:url(../images/submit-button.png) no-repeat top left;}*/
.addressCnt{width:55%;float:left;}
.Teammemberlist{padding-bottom:5%;}
.leftCnt.teamleader{padding-top:0;margin-top:-20px;}
.ourTeam .wraper{border-bottom:1px solid #c0c0c0;}
.entry {
    float: left;
    height: 271px;
    margin-bottom: 100px;
    margin-left: 4%;
    width: 27.5%;
	min-width:265px;
}
.entry.normal-post {
    position: relative;
}
.entry.normal-post .main_content {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    height: 284px;
    position: relative;
    z-index: 4;
}
.entry.normal-post .thumb {
    background: url(../images/thumb-bg.png) no-repeat scroll 5px bottom rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    padding: 5px 6px 2px;
    position: relative;
}
.thumb span.overlay {
    background: url("images/normal-post-overlay.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 117px;
    left: 6px;
    position: absolute;
    top: 5px;
    width: 280px;
}
.entry.normal-post .content {
    background:url(../images/content-bg.png) repeat-y scroll 3px top rgba(0, 0, 0, 0);
}
.entry h2.title {
    font-size: 13px;
    text-align: center;
}
.entry.normal-post .content h2 {
    padding: 8px 0;
}
.entry.normal-post .content h2 a {
    color: #484646;
}
.entry p.meta, p.meta-info {
    font-family: Georgia,serif;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
.entry p.meta a, p.meta-info a {
    text-decoration: none;
}
.entry.normal-post .content p.meta, p.meta-info {
    color: #000;
}
.entry.normal-post .content p.meta a, p.meta-info a {
    color: #5A808F;
	font-weight:300;
}
.entry.normal-post .content p {
    color: #000;
    font-family:'Roboto Slab', 'serif';
    font-size: 12px;
    font-style: italic;
    line-height: 27px;
    padding: 0 22px;
	font-weight:300;
}
.center_layer, .bottom_layer {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E0E0E0;
    height: 287px;
    left: 4px;
    position: absolute;
    top: 3px;
    width: 98%;
    z-index: 2;
}
.bottom_layer {
    height: 291px;
    left: 7px;
    width: 96%;
    z-index: 1;
}

.n-post-image {
    width: 100%;
} 

.entry.normal-post .main_content {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.center_layer, .bottom_layer {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 1px 1px 1px #FFFFFF inset;
}




.entry.normal-post:hover .center_layer {
     -webkit-transform: rotate(-7deg);
	 -moz-transform: rotate(-7deg);
	 transform: rotate(-7deg);
}
.entry.normal-post:hover .bottom_layer {
    border-color: #C7C7C7;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	transform: rotate(-15deg);
}
body.ie .entry.normal-post:hover .bottom_layer {
    box-shadow: none;
}

.entry.image, .entry.video, .entry.normal-post, .center_layer, .bottom_layer {
    transition: all 0.5s ease-in-out 0s;
}

.newsCnt{padding:5% 5.6% 0;}
.lates_newsCnt{background-color:#333333;padding:5% 0 0;}
.fixed{background-color: #F2C431;height: 65px;left: 0;position: fixed;top: 0;width: 100%;z-index:999;box-shadow:2px 2px 2px #444}
.contact_us{padding:3% 0;background-color:#f8f8f8}
.ourTeam { padding: 5% 0 0;}
.location{position:relative;padding-top:5%;}
.location .formCnt{position:absolute;top:0px;left:40px;border-radius:5px;background:rgba(0, 0, 0, 0.8);width:35%;float:left;text-align:center;padding:4% 0;border:1px solid #c0c0c0;}
.address{margin-top:10px;}
.address p,.address a{font-size:12px;color:#fff;line-height:18px;padding-bottom:10px}
.footer{padding:20px;background-color:#f2c431;}
.footer p{float:left;color:#000}
.footer ul{float:right;margin-top:7px;}
.footer ul li{float:left;padding:0 20px;border-right:1px solid #000;}
.footer ul li:last-child{border:none;}

#f1_container {
  position: relative;
  margin: -30px auto 50px;
  width: 40%;
  height: 460px;
  z-index: 1;
  float:left
}
#f1_container {
  perspective: 1000;
}

#f1_container img{width:100%;}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
  transition: all 1.0s linear;
   -webkit-transition: all 1.0s linear;
    -moz-transition: all 1.0s linear;
	cursor:pointer
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 100px;
  color: white;
  text-align: center;
  background:url(../images/team-leader-back.png) no-repeat top center / 100% auto;}

.face.back p{font-size:14px;line-height:22px;color:#fff;}
/*About Us page*/
.abtHeadnCntr{padding:30px 50px; padding-top:125px; background:#f8f8f8; border-bottom:#cecece solid 1px;}
.abtHeadnCntr h2{position:relative; color:#302c2d; font-size:38px; font-weight:100; font-family:'Roboto Slab', 'serif'; float:left;}
.abtHeadnCntr h2 span{display:inline-block; position:relative; z-index:2; padding-left:40px; margin-top:17px;}
.abtHeadnCntr h2 img{position:absolute; top:0px; left:0px; z-index:1;}
.abtHeadnCntr h3{float:left; margin-top:25px;padding-left:25px;font-family:'Roboto Slab', 'serif'; color:#000; border-left:#302c2d solid 1px; margin-left:85px; font-size:21px; font-weight:300;}
.abtustextcntr{padding:35px 50px;}
.abtustextcntr img{vertical-align:top; float:left; margin-right:30px; margin-bottom:10px;}
.abtustextcntr p{font-size:16px; font-weight:300; color:#2d2d2d; line-height:27px;}
.aboutGraycntr{background:#f5f5f5; border:#e0e0e0 solid 1px; padding:25px; margin-bottom:40px;}
.aboutGraycntr p{float:left; width:63.9%; margin-right:3%;font-size:18px; font-weight:300; color:#2d2d2d;  line-height:26px;font-family:'Roboto Slab', 'serif';}
.aboutGraycntr img{vertical-align:top; float:left}

/*OUr work page*/
.ourNews h2 span{padding-left:34px;}
.ourNews h3{margin-left:85px; font-weight:300; font-size:21px; margin-top:25px;}
.ourworkCntr{padding:10px; margin-top:20px;}
.ourworkCntr ul li{position:relative; float:left; margin:0 1% 20px; width:23%;}
.ourworkCntr ul li.noRightwrk{margin-right:0px;}
.content-item {
  /*background: url(images/ourworkimg.png);*/
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
	
}
.imgworkCntr{width:100%; height:276px;}
.imgworkCntr img{width:100%;}
.content-item .overlayWork {
  border-bottom: 85px solid #F2C431;
  border-left: 85px solid transparent;
  bottom: 0;
  height: 0;
  opacity: .95;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 0;
}

.content-item:hover .overlayWork {
  border-bottom: 800px solid #F2C431;
  border-left: 800px solid transparent;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
	
}
.content-item .corner-overlay-content {
  bottom: 10px;
  color: #333;
  position: absolute;
  right: 10px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
	font-size:15px;
}
.content-item:hover .corner-overlay-content {
  opacity: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-item .overlay-content {
  bottom: 0;
  color: #333;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
	padding-top:15px;
}
.content-item .overlay-content h2 {
  border-bottom: 1px solid #5c5c5c;
  padding: 0 0 8px;
	text-align:center;
	margin-bottom:10px;
	color:#000;
	font:24px 'Roboto Slab', 'serif';
}
.content-item .overlay-content p{text-align:center;}
.content-item:hover .overlay-content {
  opacity: 1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}



/*Our news page*/
.ourNews h3{margin-left:37px; font-weight:300;}
.ourNewsCntr ul{width:1020px; margin:0 auto;}
.ourworkCntr.blackbg{background-color:#4d4d4d;padding:5% 0}
.ourworkCntr.blackbg ul{margin-top:3%;}
.mobilemenu{display:none;}
.ourTeam .rightCnt{width:56%;}

	#content{
			margin:0px auto;
			height:100px;
			width:100%;
			bottom:5%;
			background-color:#262626;
			border-top:3px solid #4F4F4F;
			border-bottom:3px solid #4F4F4F;
			position:absolute;
		}
		#contentframe{
			text-align:center;
		}
		
		/*Supersize Plugin Styles*/
		#supersize img, #supersize a{
			height:100%;
			width:100%;
			display:none;
		}
		#supersize .activeslide, #supersize .activeslide img{
			display:inline;
		}
	.mobilemenu	{padding:8px 0;background-color:#F2C431;position:relative}
	.mobilemenu .mobilelogo{width:40px;display:inline-block;margin-left:20px;}
	.mobilemenu .mobilelogo img{width:100%;vetical-align:top;}
	.stickyheader{background-color:#F2C431 !important;}

/*Project detail page*/
.porjctDetailhdng{margin-top:100px;}
.porjctDetailhdng h2{color:#302c2d; font-size:38px; font-weight:100; padding-bottom:15px; border-bottom:#cdcdcd solid 1px; margin-bottom:25px;}
.PdetailCntr{padding-bottom:25px; border-bottom:#cdcdcd solid 1px;}
.projectLeft{float:left; width:350px; margin-right:40px;}
.projectLeft h2{font-size:20px; color:#2c2c2c; padding-bottom:10px; border-bottom:#dedede solid 1px;}
.releasedteCntr{margin-top:25px;}
.releasedteCntr h2{font-size:18px; color:#2c2c2c; font-weight:300; padding-bottom:5px; border-bottom:#dedede solid 1px;}
.releasedteCntr span{color:#c2a142; font-size:14px; font-weight:300; display:inline-block;}
.projectRight{float:left; width:810px; position:relative;}
.pDetailSlidr{width:810px;}
.projectdSlider li img{width:100%; vertical-align:top;}
/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../images/previousarrow.png) no-repeat;
	width:36px;
	height:36px;
}

.bx-wrapper .bx-next {
	right: 28px;
	background: url(../images/nextarrow.png) no-repeat;
	width:36px;
	height:36px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: 0px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width:36px;
	height:36px;
	text-indent: -9999px;
	z-index: 9;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
.reviewCntr{padding-top:15px; padding-bottom:5px;border-bottom:#dedede solid 1px;}
.reviewHeadng h2{position:relative; color:#302c2d; font-size:38px; font-weight:100; margin-bottom:30px;}
.reviewHeadng h2 span{display:inline-block; position:relative; z-index:2; padding-left:40px; margin-top:10px;}
.reviewHeadng h2 img{position:absolute; top:0px; left:0px; z-index:1;}
.reviewCntr p{font-size:15px; font-weight:300; color:#2d2d2d; line-height:27px; margin-bottom:15px;}

/*Career Page*/
.careerheadng{margin-bottom:40px;}
.careerheadng h2 span{margin-top:6px;}
.careerLeft{float:left; border:#cccccc solid 1px; width:530px; margin:0 auto; margin-left:70px; padding:15px; background:#f8f8f8;}
.careericon{width:100px; height:100px; border:#dedede solid 1px; background:#fff; border-radius:50%; text-align:center; margin:0 auto; margin-top:10px;}
.careericon img{margin-top:23px;}
.careercontent{margin-top:20px; padding-bottom:20px;}
.careercontent p{font-size:13px; font-weight:300; line-height:22px; text-align:center;}
.careerRyt{float:left; margin-left:40px; width:470px;}
.careerRyt h2{font-weight:300; margin-bottom:30px;}
.careerRyt input[type="text"]{border:#cccccc solid 1px; background:#f8f8f8; border-radius:0px; padding:10px; padding-right:0px; width:97.5%; display:inline-block; margin-bottom:30px; font-family:'Roboto Slab', 'serif'; font-weight:300;font-size:14px;}
.careerRyt textarea{border:#cccccc solid 1px; background:#f8f8f8; border-radius:0px; padding:10px; padding-right:0px; width:97.5%; display:inline-block; margin-bottom:30px; resize:none; height:100px;font-family:'Roboto Slab', 'serif'; font-weight:300; font-size:14px;}
.file-wrapper {
	position: relative;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	width:100%;
	text-align:center;
}
.file-wrapper input {
	position: absolute;
	top: 0;
	right: 0;
	filter: alpha(opacity=1);
	opacity: 0.01;
	-moz-opacity: 0.01;
	cursor: pointer;
	width:100%;
}
.file-wrapper .button {
	border:#cccccc solid 1px;
	background: #f8f8f8;	
	display: inline-block;
	cursor: pointer;
	width:99.5%;
	padding:10px 0px;
	color:#838383;
}
.submenu{width:128px;background-color:#F2C431;box-shadow:2px 2px 2px #444;;transition:all 500ms ease;-moz-transition:all 500ms ease;-webkit-transition:all 500ms ease;display:none;height:0;position:absolute;top:65px;}
.submenu li{float:none;width:auto}
.submenu li a{display:block;}
.careerCntr {
  padding-bottom: 100px;
}
.latest_release{padding-top:5%;}

/*our team css*/
.teamDeatil{padding:3% 0;border-bottom:1px solid #c0c0c0}
.teamDeatil .MemberProfilePic{padding:2%;width:20%;border:1px solid #c0c0c0;float:left}
.teamDeatil .MemberProfilePic li{float:left;margin:0 7px;}
.teamDeatil .MemberProfilePic ul{width:135px;margin:10px auto 0}
.teamDeatil .picCnt{border:1px solid #c0c0c0;width:100%;}
.teamDeatil .picCnt img{width:100%;height:auto;}
.detailCnt{float:left;width:77%;margin-left:3%;}
.detailCnt h2{font-size:22px;color:#2d2d2d;padding-bottom:5px;border-bottom:1px solid #F2C431; text-transform:none;font-family:'Roboto Slab', 'serif';}
.detailCnt h2 span{text-transform:uppercase;}
.detailCnt p{font-size:18px;font-weight:300;color:#2d2d2d;font-family:'Roboto Slab', 'serif';line-height:26px;padding-top:15px; }
.teamDeatil.even .MemberProfilePic{float:right;}
.teamDeatil.even .detailCnt{float:right;margin-right:3%;margin-left:0;}
.newsSlider{width:30%;float:left;margin-right:3%;margin-bottom:2%;}
.newsheading{color: #000000; margin-top: 145px;padding-bottom:20px;border-bottom:1px solid #c0c0c0;margin-bottom:20px}
.newsheading h2{font-family: 'Roboto Slab','serif';font-weight:300;font-size:28px;}
.newsheading h2 span{padding-left:25px;border-left:1px solid #c0c0c0;font-size:18px;}
.newsheading img {
  vertical-align: top;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 .main-nav li + li + li + li span{bottom:-21px;}
}


@media (max-width: 1024px) {
  .main-nav li a{font-size:13px;}
  .row{width:96%;}
  .row .InfoCnt{margin-top: 18px;padding: 20px 3%;}
  .row .InfoCnt h1, .face.back h1{font-size:19px;}
  .row .InfoCnt p{font-size:12px;}
  .detailbutton{padding: 5px 35px;font-size:12px;}
  .entry{margin-left:14%;}
  .location{width:96%;margin:0 auto;}
  .main-nav li + li + li + li span{bottom:-21px;}
  .yellow-heading{font-size:20px;}
  .bodyCnt .leftCnt{width:50%;padding:4% 3%;font-size:12px;}
  .bodyCnt .rightCnt{width:50%;}
  .imgworkCntr{height:237px;}
	.sti-menu li{margin: 1px 12px;}
	/*About Page*/
	.wraper{width:100%;}
	.abtHeadnCntr{padding: 15px 45px 30px;}
	.abtHeadnCntr h3{font-size:20px;}
	.abtustextcntr p{font-size:14px; line-height:22px;}
	.aboutGraycntr p{font-size:14px; line-height:22px; width:58%;}
}
@media (max-width: 980px) {
	.imgworkCntr { height: 225px;}
 }

@media (max-width: 850px) {
	.main-nav li a.logoCnt{width:64px;display:inline-block}
	.main-nav li a.logoCnt span{display:none;}
	.main-nav li a.logoCnt img{width:100%;}
	.main-nav .biglink{width:12%;}
}

@media (max-width: 800px){
	.entry{margin-left:8%;}
	 .ourworkCntr ul li{margin:1%}
  .sti-menu li{width:23.7%;margin: 1px 5px;}
  .sti-menu li a h2{width:100%;padding:0;}
  .sti-menu li a h3{width:98%;padding:10px 1%;}
  .sti-icon{ width: 93%;height: 168px;left: 5px;}
  .sti-icon-care{background-size:100% auto;}
  .sti-menu{width:100%;}
  .imgworkCntr{height: 185px;}
  .content-item .overlay-content{padding: 15px 10px 30px;}
  .content-item .overlay-content h2{font-size:20px}
  .submenu{width:95px;}
  .submenu li{height:40px;line-height:40px;}
}
@media (max-width: 768px) {
 .banner{height:500px;}
  .entry{margin-left:6%;}
  #f1_container{float:none;}
  .main-nav img{width:100%;}
  .main-nav li a{font-size:12px;}
  #f1_container{width:50%;height: 374px;margin: 30px auto 20px;}
  .ourTeam .rightCnt{float:none;width:100%;padding: 1% 2% 3%;}
  .face.back{padding:60px;}
  .location .formCnt{width:50%;}
  .location{margin: 31px auto 0;}
  .location iframe{height:400px;}
  .formCnt input[type="text"], .formCnt textarea{margin: 0 auto 14px;}
  .content-item{height:176px;}
  .content-item .overlay-content{padding: 15px 1px 30px;}
  .content-item .overlay-content h2{font-size:15px;}
  .content-item .overlay-content p{font-sie:12px;}
 
	
	/*About Page*/
	.wraper{width:100%;}
	.abtHeadnCntr h2{ text-align:center; float:none;}
	.abtHeadnCntr h2 span{margin-top:2%; padding-left:0px;}
	.abtHeadnCntr h2 img{left: 32%;top: -4%;}
	.abtHeadnCntr h3{float:none; margin-left:0px; border:none;}
	.abtustextcntr p{font-size:14px; line-height:22px;}
	.abtustextcntr{padding:20px 20px;}
	.aboutGraycntr{text-align:center;}
	.aboutGraycntr p{float:none; font-size:14px; line-height:22px; width:auto;}
	.aboutGraycntr img{float:none; margin-top:15px;}
  }


@media (max-width: 640px) {
  .header {display: none;}
  .yellow-heading{background-color:#F2C431;background-image:none;margin:0;float:none;width:100%;height:44px;line-height:44px;}
  .bodyCnt .leftCnt{width:100%;float:none;}
  .our-Work,.ourTeam,.lates_newsCnt,.contact_us{padding-top:0;}
  .yellow-heading{font-size:16px;}
  .bodyCnt .rightCnt{width:90%;}
  .rightCnt iframe{ margin: 0 auto;max-width: 500px;}
  .entry{float:none;margin:0 auto 60px;}
 #f1_container {height: 380px; max-width: 400px;width: 90%;}
  .row .InfoCnt h1, .face.back h1{font-size:15px;}
  .face.back{padding:52px;}
  .bodyCnt p {font-size: 10px;line-height: 18px;}
  .bodyCnt .rightCnt { float: none; margin: 0 auto;width: 90%;}
  .location .formCnt{float:none;position:static;margin:10px auto;width:90%;}
  .newsCnt{padding-bottom:10px;}
  .footer{text-align:center;}
  .footer p{float:none;text-align:center;padding-bottom:10px;}
  .footer ul li,.footer ul{float:none;display:inline-block;}
  .ourworkCntr.blackbg{padding:0 0 20px;}
  .ourworkCntr ul li{margin: 4%;width: 42%;}
  .content-item { height: 269px;}
  .imgworkCntr{height:270px;}
  .content-item .overlay-content{padding:15px 25px 30px;}
   .content-item .overlay-content h2{font-size:20px;}
  .content-item .overlay-content p{font-size:14px;}
  .sti-menu {width:100% !important;}
  .sti-menu li{margin: 20px 7%;width: 33.6%;}
  .sti-icon-care{height:200px;}
  .mobilemenu{display:block;}
  .banner{border:none;}
	
	/*About Page*/
	.wraper{width:100%;}
	.abtHeadnCntr h2{ text-align:center; float:none;}
	.abtHeadnCntr h2 span{margin-top:8%; padding-left:0px;}
	.abtHeadnCntr h2 img{left:28%; top:28%;}
	.abtustextcntr p{font-size:14px; line-height:20px;}
	.abtHeadnCntr h3{font-size:14px; float:none; margin-top:8%; margin-left:0px; padding-left:0px; border:none; text-align:center;}
	.abtustextcntr{padding: 35px 10px; text-align: center;}
	.abtustextcntr img{float:none; margin-right:0px;}
	.aboutGraycntr{padding:20px 10px; text-align:center;}
	.aboutGraycntr img{float:none; width:50%; margin-top:15px;}
	.aboutGraycntr p{float:none; width:auto; margin-right:0px;font-size:14px; line-height:20px;}
	
	/*Career Page*/
	.careerheadng h2 span{margin-top:5%;}
	.careerheadng h2 img{left:32%;}
	.careerLeft{ width:45%; margin:0 auto; margin-left:1.1%; margin-right:2%;}
	.careerRyt{width:45%; margin:0 auto;}
	.careerRyt h2{text-align:center;}
	.file-wrapper .button{width:99%;}
	.projectRight{width:100%;}
	.PdetailCntr{ padding: 0 2% 25px;}
	.porjctDetailhdng { padding: 0 2%;font-size:18px;margin-top:15px;}
	.porjctDetailhdng h2{font-size:20px;margin-bottom:8px}
	.projectLeft,.pDetailSlidr{width:100%;margin:0 auto;}
	.reviewHeadng h2{width:207px;margin:0 auto;height:68px;line-height:50px;}
	.reviewCntr{padding: 15px 7% 5px;}
	.reviewCntr p{font-size:14px;line-height:22px;}
	.releasedteCntr{margin-top:5px;}
	.releasedteCntr h2{font-size:14px;}
}
  
@media (max-width: 480px) {
.ourworkCntr ul li{width:46%;margin:4% 2%;}
.content-item{height:220px;}
.banner{height:300px;}
.sti-menu li{float:none;margin:7% auto;}
.sti-menu li{width:45%;}
  
/*About Page*/
	.wraper{width:100%;}
	.abtHeadnCntr h2{font-size:25px; text-align:center; float:none;}
	.abtHeadnCntr h2 span{margin-top:8%; padding-left:0px;}
	.abtHeadnCntr h2 img{left:29%; top:28%; width:160px;}
	.abtustextcntr p{font-size:14px; line-height:20px;}
	.abtHeadnCntr h3{font-size:14px; float:none; margin-top:8%; margin-left:0px; padding-left:0px; border:none; text-align:center;}
	.abtustextcntr{padding: 35px 10px; text-align: center;}
	.abtustextcntr img{float:none; margin-right:0px;}
	.aboutGraycntr{padding:20px 10px; text-align:center;}
	.aboutGraycntr img{float:none; width:50%; margin-top:15px;}
	.aboutGraycntr p{float:none; width:auto; margin-right:0px;font-size:14px; line-height:20px;}
	
	/*Career Page*/
	.careerLeft{float:none; width:85%; margin:0 auto;}
	.careerRyt{float:none; width:90%; margin:0 auto;}
	.careerRyt h2{margin-top:20px; margin-bottom:20px; text-align:center;}
}

@media (max-width: 360px) {
  .rightCnt iframe{ margin: 0 auto;max-width: 500px;}
  .entry{float:none;margin:0 auto 60px;}
  #f1_container{width:90%;height:320px;}
  .row .InfoCnt h1, .face.back h1{font-size:15px;}
  .face.back{padding:52px;}
  .bodyCnt p,.footer p {font-size: 10px;line-height: 18px;}
  .bodyCnt .rightCnt { float: none; margin: 0 auto;width: 90%;}
  .location iframe{height:250px;}
  .location .formCnt{float:none;position:static;margin:10px auto;width:90%;}
  .ourworkCntr ul li { float: none;margin: 6% auto; width: 88%;max-width:300px;}
  .content-item{height:300px;}
  .ourworkCntr ul li.noRightwrk{margin:6% auto;}
  .sti-menu li{width:60%;}
  /*About Page*/
	.wraper{width:100%;}
	.abtHeadnCntr h2{font-size:25px; text-align:center; float:none;}
	.abtHeadnCntr h2 span{margin-top:8%; padding-left:0px;}
	.abtHeadnCntr h2 img{left:19%; top:18%; width:160px;}
	.abtustextcntr p{font-size:14px; line-height:20px;}
	.abtHeadnCntr h3{font-size:14px; float:none; margin-top:8%; margin-left:0px; padding-left:0px; border:none; text-align:center;}
	.abtustextcntr{padding: 35px 10px; text-align: center;}
	.abtustextcntr img{float:none; margin-right:0px;}
	.aboutGraycntr{padding:20px 10px; text-align:center;}
	.aboutGraycntr img{float:none; width:87%; margin-top:15px;}
	.aboutGraycntr p{float:none; width:auto; margin-right:0px;font-size:14px; line-height:20px;}
	
	/*Career Page*/
	.careerLeft{float:none; width:85%; margin:0 auto;}
	.careerRyt{float:none; width:90%; margin:0 auto;}
	.careerRyt h2{margin-top:20px; margin-bottom:20px;}
  
 
}
@media (max-width: 320px) {
 .footer li a{font-size:10px;}
 .content-item{height:282px;}
 .sti-menu li{width:68%;}
 
 /*About Page*/
	.wraper{width:100%;}
	.abtHeadnCntr h2{font-size:25px; text-align:center; float:none;}
	.abtHeadnCntr h2 span{margin-top:8%; padding-left:0px;}
	.abtHeadnCntr h2 img{left:12%; top:15%; width:160px;}
	.abtHeadnCntr h3{font-size:14px; float:none; margin-top:8%; margin-left:0px; padding-left:0px; border:none;}
	.abtustextcntr{padding: 35px 10px; text-align: center;}
	.abtustextcntr img{float:none; margin-right:0px;}
	.file-wrapper .button{width:99%;}
}